.register-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: burlywood;
    .register-card{
        width: 500px;
        height: 400px;
        background: white;
        // background: rgb(53, 132, 108);
        box-shadow: 0px 0px 6px 1px #808080;
        .head-name{
            display: flex;
            justify-content: center;
            font-size: 30px;
            color:rgb(53, 132, 108);
            padding-top: 40px;
            padding-bottom:20px;
        }
        .register-field-wrapper{
            width: 100%;
            .register-field{
                width: calc(100% - 40px);
                padding: 10px;
                padding-left:20px;
                padding-right: 20px;
                .register-field-label{
                    width: 100%;
                    line-height: 1.5;
                }
                .register-field-input{
                    width: 100%;
                    border:none;
                    outline: none;
                    border-bottom: 1px solid #808080;
                    height: 30px;
                    font-size: medium;
                }
                
            }
            .name-register-field{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                .sub-register-field{
                    width: 44%;
                    .register-field-label{
                        width: 100%;
                        line-height: 1.5;
                    }
                    .register-field-input{
                        width: 100%;
                        border:none;
                        outline: none;
                        border-bottom: 1px solid #808080;
                        height: 30px;
                        font-size: medium;
                    }
                }
            }
            .register-button-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .register-button{
                    padding: 10px;
                    border-radius: 5px;
                    background: #35846c;
                    outline: none;
                    color: white;
                }
                .error-label{
                    font-size: 13px;
                    line-height: 1.5;
                    color: red;
                }
            }
            .not-sign-up-text{
                display: flex;
                justify-content: center;
                line-height: 2;
            }
        }
    }
}