.name-input-wrapper{
    position: relative;
    .name-input{
        width: calc(100% - 30px);
        border: none;
        outline: none;
        height: 30px;
        font-size: 16px;
        border-bottom: 1px solid #cccccc ;
        padding-right: 30px;
    }
    .add-icon{
        position:absolute;
        right: 0;
        top:5px;
    }
}
.popup-input-wrapper{
    .name-input-wrapper-bucket{
        .name-input{
            width: calc(100%);
            border: none;
            outline: none;
            height: 30px;
            font-size: 16px;
            border-bottom: 1px solid #cccccc ;
            background: #35846c;
            color: white;
            &::-webkit-input-placeholder { /* Edge */
                color: white;
            }
              
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: white;
            }
              
            &::placeholder {
                color: white;
            }
        }
    }
    .popup-container{
        width: calc(100%);
        min-height: 0px;
        background: white;
        border-radius: 0px;
        color: black;
        font-size: 16px;
        max-height: 87px;
        overflow-x: auto;
        box-shadow: 0px 0px 15px 0px #000000;
        .popup-fields{
            padding-bottom: 5px;
            border-bottom: 1px solid #efefef;
            padding: 5px;
            &:hover{
                background: #8080802e;
            }
        }
    }
}

