.add-bucket-info-container{
    width: 100%;
    height: 100%;
    background: beige;
    .add-bucket-indicator{
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        height: 100px;
        .animated {
            -webkit-animation-duration: .5s;
            animation-duration: .5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
        }
        @-webkit-keyframes bounce {
            0%, 100% {
              -webkit-transform: translateX(0);
            }
            50% {
              -webkit-transform: translateX(-5px);
            }
        }
        @keyframes bounce {
            0%, 100% {
              transform: translateX(0);
            }
            50% {
              transform: translateX(-5px);
            }
        }
        .bounce {
            -webkit-animation-name: bounce;
            animation-name: bounce;
        } 
    }
    .add-bucket-text{
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        height: calc(100% - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 136px;
        color: #35846c;
        font-size: larger;
    }
}